[sssd]
services = nss, pam, ssh, sudo
domains = {{ ldap_domain }}
debug_level = 9
enumerate = TRUE

[pam]
# debug_level = 9

[sudo]
# debug_level = 9

[domain/{{ ldap_domain }}]
# debug_level = 9

id_provider = ldap
auth_provider = ldap
access_provider = ldap

ldap_uri = ldap://lacs.util.{{ ldap_domain }}

ldap_id_use_start_tls = true
ldap_tls_reqcert = demand
ldap_tls_cacert = /etc/pki/tls/certs/ca-bundle.crt

ldap_default_bind_dn = cn=sssd,ou=Application,{{ ldap_base_dn }}
ldap_default_authtok_type = password
ldap_default_authtok = pLe@5Eh3!p2IDentify

ldap_search_base = {{ ldap_base_dn }}

ldap_schema = rfc2307bis

ldap_access_order = filter
{% if ldap_access_group_suffix is defined and ldap_access_group_suffix != "" %}
ldap_access_filter = memberOf=cn={{ ldap_access_group_prefix }}_{{ ldap_access_group_suffix }},ou=LinuxGroup,{{ ldap_base_dn }}
{% else %}
ldap_access_filter = memberOf=cn=ArenaDevOps,ou=LinuxGroup,{{ ldap_base_dn }}
{% endif %}

# Override Home dir to /home/ARENA/%u
override_homedir = /home/ARENA/%u

ldap_user_search_base  = ou=People,{{ ldap_base_dn }}
ldap_user_object_class = posixAccount
ldap_user_name         = uid
ldap_user_uid_number   = uidNumber
ldap_user_gid_number   = gidNumber
ldap_user_fullname     = cn
ldap_user_member_of    = memberOf
ldap_user_ssh_public_key = sshPublicKey

ldap_group_search_base  = ou=LinuxGroup,{{ ldap_base_dn }}
ldap_group_object_class = posixGroup
ldap_group_name = cn
ldap_group_gid_number = gidNumber
ldap_group_member = member
ldap_group_nesting_level = 2

ldap_sudo_search_base = ou=SUDOer,{{ ldap_base_dn }}
ldap_sudo_full_refresh_interval=21000
ldap_sudo_smart_refresh_interval=900
